@import 'utils/veriables';
@import'base/defaults';
@import'components/header/header';
@import'components/header/logo';
@import'components/header/nav';
@import'components/header/contacts';


@import'components/hero/hero';


@import'components/advantage/advantage';


@import'components/work/work';


@import'components/team/team';










@import'components/portfolio/portfolio-header';
  
 
  
 
  
  
  
  
  
  
  
  
 
  
  
  
  
  
  
  
  
  
  
  /*------------------------------------------команда-------------------------------------*/
  
  
  /*--------------------------------Клієнти--------------------------------*/
  
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
  .client-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
  }
  
  .conteiner-client {
    display: block;
  }
  
  .client-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
  }
  
  .client-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
    border: 1px solid $icon-link;
    border-radius: 4px;
  
    fill: $icon-link;
  }
  
  .client-link:hover,
  .logotype:hover,
  .client-link:focus,
  .logotype:focus {
    border-color: 1px solid $button-bgc;
    color: $button-bgc;
    outline: none;
    fill: $button-bgc;
  
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  /*-------------------------------Footer------------------------------------*/
  .footer {
    background-color: $accent-bgc;
    font-size: 14px;
    line-height: 1.7;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  .conteiner-footer {
    display: block;
  }
  
  .logo {
    color: $bgc-accent-text-color;
  }
  
  .logo-footer {
    font-family: $sec-fond-famele;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
  }
  
  .address {
    color: $bgc-accent-text-color;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    margin-top: 20px;
    margin-bottom: 9px;
    text-decoration: none;
  }
  
  .address:last-child {
    margin-bottom: 0;
  }
  
  .link-footer {
    color: $footer-addressbox-text-color;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
  }
  
  .mailto {
    margin-bottom: 9px;
  }
  
  .conteiner-join {
    display: block;
    justify-content: center;
  }
  
  .conteiner-logo {
    width: 231px;
    margin-right: 70px;
    padding: 0;
  }
  
  .joim-item {
    display: flex;
  }
  
  .join-tatile {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $bgc-accent-text-color;
    margin-bottom: 20px;
  }
  
  .conteiner-footer {
    display: flex;
    align-items: baseline;
  }
  
  .icon-join {
    background-color: rgba(255, 255, 255, 0.1);
    color: $bgc-accent-text-color;
  }
  
  .conteiner-sign {
    margin-left: auto;
  }
  
  .imput-text {
    font-family: 400px;
  
    width: 358px;
    height: 50px;
  
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: $accent-bgc;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    color: $bgc-accent-text-color;
  }
  
  .imput-text:focus {
    outline: none;
    border-color: $button-bgc;
  }
  
  .button-futter {
    background: $bgc;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 29px;
    padding-right: 62px;
    cursor: pointer;
    border-color: $bgc;
    outline-color: $bgc;
  }
  
  .imput {
    margin-right: 12px;
  }
  
  .button-sign {
    position: relative;
    cursor: pointer;
  }
  
  .icon-fotter {
    position: absolute;
    left: 148px;
    top: 0;
  
    transform: translateY(50%);
    fill: $bgc-accent-text-color;
  }
  
  .sign {
    padding: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    color: $bgc-accent-text-color;
  }
  
  .form {
    display: flex;
    align-items: baseline;
  }
  
  /*-----------------------------Портфолио--------------------------------*/
  
  /*-------------------------------------------кнопки------------------------------------------------*/
  
  .conteiner-button {
    margin-left: auto;
    margin-right: auto;
  }
  
  .main-button {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
  }
  
  .button-item:not(:last-child) {
    margin-right: 8px;
  }
  
  .button-portfolio {
    font-family: inherit;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 4px;
  
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: $main-text-color;
    border-style: none;
  }
  
  .button-portfolio:hover,
  .button-portfolio:focus {
    color: $bgc-accent-text-color;
    background-color: $button-bgc;
  
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .text-portfolio {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    color: $secondary-text-color;
  }
  
  .title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $main-text-color;
  }
  
  .foto-list {
    flex-wrap: wrap;
    display: flex;
    padding-bottom: 94px;
  }
  
  .foto-item {
    flex-basis: (calc(100%-60px) / 3);
    border: 1px solid #eeeeee;
    margin-right: 30px;
    margin-bottom: 30px;
    width: 370px;
    box-sizing: border-box;
  }
  
  .link-portfolio:hover,
  .link-portfolio:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    outline: none;
  
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .link-portfolio {
    display: block;
    text-decoration: none;
  }
  
  .foto-item:nth-child(3n) {
    margin-right: 0;
  }
  
  .foto-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
  
  .conteiner-foto {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .conteiner-text {
    padding: 20px 24px;
  }
  
  .logo-footer {
    font-family: $sec-fond-famele;
    font-style: 500;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
  }
  
  .portfolio-main {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
  .link-portfolio:hover .overlay,
  .link-portfolio:focus .overlay {
    transform: translateY(0%);
  }
  
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 63px 24px;
    background: rgba(33, 150, 243, 0.9);
  
    transform: translateY(100%);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .overlay > p {
    color: $bgc-accent-text-color;
    font-size: 18px;
  }
  
  .overlay-conteiner {
    position: relative;
    overflow: hidden;
  }
  
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 528px;
    height: 581px;
    background-color: $bgc-accent-text-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1);
    transition-property: transform, scale;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  .close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: $bgc-accent-text-color;
    cursor: pointer;
    outline: none;
  }
  
  .close-icon:focus,
  .close-icon:hover {
    fill: $bgc;
  }
  
  .modal-text {
    margin-bottom: 12px;
    margin-top: 40px;
    text-align: center;
  
    font-style: normal;
    font-weight: 700px;
    font-size: 20px;
    line-height: 1.15;
  
    letter-spacing: 0.03em;
  
    color: $main-text-color;
  }
  
  .form-conteiner {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
  }
  
  .imput-modal {
    width: 100%;
  
    margin-bottom: 10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding-top: 12px;
    padding-left: 42px;
    padding-bottom: 12px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .imput-conteiner {
    position: relative;
  }
  
  .icon-modal {
    position: absolute;
    top: 0;
    left: 15px;
    transform: translateY(65%);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    width: 18px;
    height: 18px;
  }
  
  .imput-modal:focus {
    border-color: $bgc;
    outline: none;
  }
  
  .imput-modal:focus + .icon-modal {
    fill: $bgc;
  }
  
  .textarea {
    width: 448px;
    height: 120px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px 16px;
    margin-bottom: 20px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .textarea::placeholder {
    font-style: normal;
    font-weight: 400px;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.01em;
  
    color: rgba(117, 117, 117, 0.5);
  }
  
  .textarea:focus {
    border: 1px solid $bgc;
    border-radius: 4px;
    outline: none;
  }
  
  .label-checkbox {
    display: block;
  
    margin-bottom: 31px;
    position: relative;
  }
  
  .checkbox-icon {
    width: 15px;
    height: 15px;
    border: 2px solid $checkbox-color;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .text-p {
    margin-left: 37px;
  }
  
  .old-checkbox:checked + .checkbox-icon {
    background-color: $button-bgc;
    border-color: $button-bgc;
    background-image: url(../img/Vector1.svg);
    background-size: contain;
    background-origin: border-box;
    fill: $bgc-accent-text-color;
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
  }
  
  .text-checkbox {
    margin-left: 31px;
  }
  
  .button-modal {
    display: flex;
    justify-content: center;
  }
  
  .button-submit {
    padding: 10px 55px;
    background: $bgc;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: $bgc;
    outline-color: $main-bgc;
    cursor: pointer;
  }
  
  .name-text {
    font-style: normal;
    font-weight: 400px;
    font-size: 12px;
    line-height: 1.2;
  
    letter-spacing: 0.01em;
  
    color: $secondary-text-color;
    margin-bottom: 4px;
  }
  
  .agreement-link {
    text-decoration-line: underline;
    color: $accent-text-color;
  }
  